*{
    margin: 0;
    padding: 0;
}

.btn-toggle{
  /* margin: 0 -63px; */
  background: #e9a03b;
  color: #f7f7f7;
  border: none;
}



.no-select {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

body{
  background: black;  
}

body.light-theme {
  background: #f7f7f7;
}
/* #f1f2f4 светлосерый для цвет для темных копок  */
/* #dadbe0 темносерый для светлосерызх кнопок */
/* ##ffa62e для желтого и текст блэк */
.result .light-theme {
  color: black;
}

.btn-toggle.light-theme {
  background: #313131;
}
.nums.light-theme {
  background: #c4c4c5;
  color: black;
} 
.dops.light-theme {
  background: #565656 ;
  color: white;
} 
.ops.light-theme {
  background: #ffa62e ;
  color: black;
} 
.sub.light-theme {
  background: #565656 ;
  color: white;
} 







div{
  box-sizing: border-box;
}

/* #e9a03b желтый кнопки операторов */
/* #f7f7f7 белый сами цифры и оперы*/

/* #a0a0a0 светло серый кнопки % =/- */
/* #313131 темно серый кнопки цифр */
.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  align-content: center;  
  text-align: center; 
  cursor: pointer;
}
.oval{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  align-content: center;  
  text-align: center; 
  cursor: pointer;
}

.nums{
  background:#313131;
  color: #f7f7f7;
  display: inline-block;
  transition: all .35s ease-out;
}

.sub{
  background:#313131;
  color: #f7f7f7;
  display: inline-block;
}

.ops{
  background: #e9a03b;
  color: #f7f7f7;
}

.active{
  background: #f7f7f7;
  color: #e9a03b;
}

.dops{
  background: #a0a0a0;
  color: black;
  display: inline-block;
  transition: all .35s ease-out;
}

.touch{
  background: #f7f7f7;
  color: black;
  display: inline-block;
  
}


.dopBlock{
  /* display: flex; */
  /* border: 2px solid red; */
  position: absolute;
  top: 50px;
  
}
.numBlock1{
  /* display: flex; */
  /* border: 2px solid red; */
  position: absolute;
  top: 200px;
}
.numBlock2{
  /* display: flex; */
  /* border: 2px solid red; */
  position: absolute;
   top: 150px;
}
.numBlock3{
  /* display: flex; */
  /* border: 2px solid red; */
  position: absolute;
  top: 100px;
}

.opsBlock{
  /* display:flex; */
  /* border: 2px solid red; */
  position: absolute;
  left: 160px;
  top: 50px;
}
.submit{
   /* border: 2px solid red;  */
   position: absolute;
   top: 250px;
}

.result{
  position: absolute;
  right: 0;
  max-width: 200px;
  /* border: 2px solid red;  */
  font-size: 50px;
  color: white;
}

.container{
/* display:flex; */
  /* align-items: flex-start; */
 /* border: 2px solid blue; */
 position: relative;
 height: 300px;
 width: 215px;
 margin: auto;
}