*{
    margin: 0;
    padding: 0;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  'display display display display'
  'ac change percent dev'
  'seven eight nine mult'
  'four five six minus'
  'one two three plus';
  gap: 7px;
  width: 100px;
  margin-bottom: 3px;
  /* margin-top: 10px; */
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
 'zero coma sub';
 gap: 7px;
 width: 100px;
}

.container,
.wrapper {
 margin: auto;
}

.result{grid-area: display;}
.ac{grid-area: ac;}
.change{grid-area: change;}
.percent{grid-area: percent;}
.one{grid-area: one;}
.two{grid-area: two;}
.three{grid-area: three;}
.four{grid-area: four;}
.five{grid-area: five;}
.six{grid-area: six;}
.seven{grid-area: seven;}
.eight{grid-area: eight;}
.nine{grid-area: nine;}
.zero{grid-area: zero;}
.coma{grid-area: coma;}
.sub{grid-area: sub;}
.dev{grid-area: dev;}
.mult{grid-area: mult;}
.plus{grid-area: plus;}
.minus{grid-area: minus;}

body{
  background: black;  
}


.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  align-content: center;  
  text-align: center; 
  cursor: pointer;
}
/* .circle:hover {
  background-color: #f7f7f7;
} */

.oval{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  align-content: center;  
  text-align: center; 
  cursor: pointer;
}

.nums{
  background:#313131;
  color: #f7f7f7;
  transition: all .35s ease-out;
}

.sub{
  background:#313131;
  color: #f7f7f7;
}

.ops{
  background: #e9a03b;
  color: #f7f7f7;
}

.dops{
  background: #a0a0a0;
  color: black;
  transition: all .35s ease-out;
}

.result{
  font-size: 50px;
  color: white;
  text-align: end; 
}

.active{
  background: #f7f7f7;
  color: #e9a03b;
}
.touch{
  background: #f7f7f7;
  color: black;
}

.btn-toggle{
  background: #e9a03b;
  color: #f7f7f7;
  border: none;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
body.light-theme {
  background: #f7f7f7;
}

.result .light-theme {
  color: black;
}

.btn-toggle.light-theme {
  background: #313131;
}
.nums.light-theme {
  background: #c4c4c5;
  color: black;
} 
.dops.light-theme {
  background: #565656 ;
  color: white;
} 
.ops.light-theme {
  background: #ffa62e ;
  color: white;
} 
.sub.light-theme {
  background: #565656 ;
  color: white;
} 

.ops.active-light{
  background: #f38c01;
  color: white;
}

.nums.touch-light{
  background: #959393;
  color: black;
}
.dops.touch-light{
  background: #2c2c2c;
  color: white;
}

